@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Bangers', cursive;
  overflow: hidden;
  background-color: #0f172a;
}

img {
  display: none;
}

.container {
  position: relative;
  width: 100wv;
  height: 100vh;
}

#canvas1 {
  background-color: #166534;
  border: 5px ridge #713f12;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}
