.help-container {
  width: 50vw;
  padding: 50px;
  margin: 0 auto;
  background: #0f172a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: 3px solid #59c1fe;
  height: 80vh;
  overflow: hidden;
}

.help-container p {
  margin: 0 0 20px;
  line-height: 1.5;
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: 1px;
}

.help-container h3 {
  text-align: center;
  margin: 20px 0 20px;
  line-height: 1.5;
  color: #59c1fe;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.help-content {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #59c1fe;
  overflow-y: auto;
  height: 65vh;
}

.help-content h2 {
  text-align: center;
  color: #59c1fe;
  font-size: 2rem;
  letter-spacing: 2px;
}

.help-content span {
  color: #59c1fe;
  letter-spacing: 3px;
}

.help-container input {
  display: none;
}

.help-container label {
  display: inline-block;
  margin: 0 0 -3px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
  letter-spacing: 2px;
}

.help-container label:before {
  font-weight: normal;
  margin-right: 10px;
}

.help-container label:hover {
  color: #888;
  cursor: pointer;
}

.help-container input:checked + label {
  color: #59c1fe;
  border-top: 2px solid #59c1fe;
  border-left: 1px solid #59c1fe;
  border-right: 1px solid #59c1fe;
  border-bottom: 5px solid #0f172a;
}

#tab1:checked ~ #keyboardContent,
#tab2:checked ~ #voiceCommandContent,
#tab3:checked ~ #reglamentoContent {
  display: block;
}

.divide-inner-help {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    #ffffff,
    rgba(0, 0, 0, 0)
  );
}
