@media (max-width: 500px) {
  .panel {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .btn-container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .btn {
    padding: 5px 12px;
    font-size: 0.85rem;
    clip-path: polygon(81% 0, 100% 60%, 100% 100%, 17% 100%, 0% 40%, 0 0);
  }

  .btn-label {
    display: none;
  }

  .btn:hover {
    background-color: #0f0f0f;
  }

  .btn:hover .btn-label {
    background-color: #0f0f0f;
  }

  .panel-icon {
    padding: 0.3rem;
    border-radius: 50%;
  }

  .panel-svg-icon {
    width: 1.5rem;
  }

  .panel-icon:hover {
    background-color: #0f0f0f;
  }

  .mobile-result-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .result-container h3 {
    font-size: 1.5rem;
  }

  .result-img {
    width: 4.5rem;
  }

  .player-result {
    grid-template-columns: 100px auto;
    grid-template-rows: 100px auto;
  }

  .player-result span {
    font-size: 1.2rem;
  }

  .result-content h4 {
    font-size: 1rem;
  }

  .result-content div h5 {
    font-size: 0.9rem;
  }

  .image-player-container {
    top: 29%;
    left: 40%;
  }

  .winner-player-img {
    width: 2.5rem;
  }

  .winner-cup-img {
    width: 15rem;
  }

  .player-winner-buttons {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .btn-winner {
    padding: 15px 30px;
    clip-path: polygon(86% 0, 100% 34%, 100% 100%, 16% 100%, 0% 69%, 0 0);
    letter-spacing: 3px;
  }

  .menu-container {
    width: 90vw;
    height: 85vh;
  }

  .ribbon-image {
    width: 15rem;
  }

  .menu-items-container {
    margin-top: 30px;
  }

  .menu-items {
    padding: 15px 0;
    font-size: 1.5em;
  }

  .menu-items h3 {
    margin-bottom: 5px;
  }

  .menu-items input[type="text"] {
    padding: 8px;
    font-size: 18px;
  }

  .radio-label input[type="radio"] + i {
    height: 25px;
    width: 25px;
    border-radius: 100%;
    left: 15px;
  }

  .radio-label input[type="radio"] + i:before {
    height: 13px;
    width: 13px;
    top: 4px;
    left: 4px;
  }

  .radio-label input[type="radio"]:checked + i:before {
    transform: scale(1);
    opacity: 1;
  }

  .radio-label:hover input[type="radio"]:not(:checked) + i {
    background: #f8b569;
    cursor: pointer;
  }

  .menu-items button {
    width: 100%;
    clip-path: polygon(100% 0, 100% 0%, 100% 100%, 0% 100%, 0% 100%, 0 0);
    font-size: 25px;
    letter-spacing: 2px;
    height: 50px;
  }

  .menu-item-svg {
    width: 2rem;
  }

  .help-container{
  width: 95vw;
  padding: 25px;

}
.help-container label {
  padding: 10px 20px;
}

.help-content h2 {
  font-size: 1.5rem;

}

.help-container p {
  font-size: 1.2rem;
}
.help-icon-container {
  right: 0;
}
.lines {
  height: 3em;
}

.menu-title h1 {
  font-size: 4em;
}
.menu-title h2 {
  margin: -20px 0px 0px 25px;
  font-size: 1.5em;
 }

}

/* @media (max-width: 900px) { */
  @media  (max-width: 900px) and (orientation: landscape) {
  .panel {
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 50px;
  }

  .btn-container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .btn {
    padding: 5px 12px;
    font-size: 0.85rem;
    clip-path: polygon(81% 0, 100% 60%, 100% 100%, 17% 100%, 0% 40%, 0 0);
  }

  .btn-label {
    display: none;
  }

  .btn:hover {
    background-color: #0f0f0f;
  }

  .btn:hover .btn-label {
    background-color: #0f0f0f;
  }

  .panel-icon {
    padding: 0.3rem;
    border-radius: 50%;
  }

  .panel-svg-icon {
    width: 1.5rem;
  }

  .panel-icon:hover {
    background-color: #0f0f0f;
  }

  .mobile-result-container {
    display: flex;
    width: 80vw;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
 .closeResultOverlay {
    top: -5px;
    right: 0px;
 }
  .result-container h3 {
    font-size: 1.5rem;
  }

  .result-img {
    width: 4.5rem;
  }

  .player-result {
    grid-template-columns: 100px auto;
    grid-template-rows: 100px auto;
  }

  .player-result span {
    font-size: 1.2rem;
  }

  .result-content h4 {
    font-size: 1rem;
  }

  .result-content div h5 {
    font-size: 0.9rem;
  }

  .image-player-container {
    top: 29%;
    left: 40%;
  }

  .winner-player-img {
    width: 2.5rem;
  }

  .winner-cup-img {
    width: 15rem;
  }

  .player-winner-buttons {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .btn-winner {
    padding: 15px 30px;
    clip-path: polygon(86% 0, 100% 34%, 100% 100%, 16% 100%, 0% 69%, 0 0);
    letter-spacing: 3px;
  }

  .menu-container {
    width: 80vw;
    height: 95vh;
  }

  .ribbon-image {
    width: 15rem;
  }

  .menu-items-container {
    margin-top: 15px;
  }

  .menu-items {
    padding: 15px 0;
    font-size: 1.2em;
  }

  .menu-items h3 {
    margin-bottom: 5px;
  }

  .menu-items input[type="text"] {
    padding: 8px;
    font-size: 15px;
  }

  .radio-label input[type="radio"] + i {
    height: 25px;
    width: 25px;
    border-radius: 100%;
    left: 15px;
  }

  .radio-label input[type="radio"] + i:before {
    height: 13px;
    width: 13px;
    top: 4px;
    left: 4px;
  }

  .radio-label input[type="radio"]:checked + i:before {
    transform: scale(1);
    opacity: 1;
  }

  .radio-label:hover input[type="radio"]:not(:checked) + i {
    background: #f8b569;
    cursor: pointer;
  }

  .menu-items button {
    width: 100%;
    clip-path: polygon(100% 0, 100% 0%, 100% 100%, 0% 100%, 0% 100%, 0 0);
    font-size: 25px;
    letter-spacing: 2px;
    height: 50px;
  }

  .menu-item-svg {
    width: 2rem;
  }

  .help-container{
  width: 95vw;
  padding: 25px;
}

.help-container p {
  font-size: 1.2rem;
}
.help-container label {
  padding: 10px 20px;
}

.help-content h2 {
  font-size: 1.5rem;

}

.lines {
  height: 3em;
}

.menu-title h1 {
  font-size: 5em;
}
.menu-title h2 {
  margin: -20px 0px 0px 25px;
  font-size: 2em;
 }

}

@media (max-width: 1280px) and (min-width: 901px) {
  .btn {
    font-size: 1.1rem;
    margin: 8px 0;
    padding: 15px 20px;
    clip-path: polygon(88% 0, 100% 33%, 100% 100%, 11% 100%, 0% 69%, 0 0);
  }
}
