@media (max-width: 500px) {
  .panel {
    overflow-y: auto;
    overflow-x: hidden;
  }
  .btn-container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .btn {
    padding: 5px 12px;
    font-size: 0.85rem;
    clip-path: polygon(81% 0, 100% 60%, 100% 100%, 17% 100%, 0% 40%, 0 0);
  }
  .btn-label {
    display: none;
  }
  .btn:hover {
    background-color: #0f0f0f;
  }
  .btn:hover .btn-label {
    background-color: #0f0f0f;
  }
  .panel-icon {
    padding: 0.3rem;
    border-radius: 50%;
  }
  .panel-svg-icon {
    width: 1.5rem;
  }
  .panel-icon:hover {
    background-color: #0f0f0f;
  }
  .mobile-result-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .result-container h3 {
    font-size: 1.5rem;
  }
  .result-img {
    width: 4.5rem;
  }
  .player-result {
    grid-template-columns: 100px auto;
    grid-template-rows: 100px auto;
  }
  .player-result span {
    font-size: 1.2rem;
  }
  .result-content h4 {
    font-size: 1rem;
  }
  .result-content div h5 {
    font-size: 0.9rem;
  }
  .image-player-container {
    top: 29%;
    left: 40%;
  }
  .winner-player-img {
    width: 2.5rem;
  }
  .winner-cup-img {
    width: 15rem;
  }
  .player-winner-buttons {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .btn-winner {
    padding: 15px 30px;
    clip-path: polygon(86% 0, 100% 34%, 100% 100%, 16% 100%, 0% 69%, 0 0);
    letter-spacing: 3px;
  }
}

@media (max-width: 900px) and (orientation: landscape) {
  .panel {
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 50px;
  }
  .btn-container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .btn {
    padding: 5px 12px;
    font-size: 0.85rem;
    clip-path: polygon(81% 0, 100% 60%, 100% 100%, 17% 100%, 0% 40%, 0 0);
  }
  .btn-label {
    display: none;
  }
  .btn:hover {
    background-color: #0f0f0f;
  }
  .btn:hover .btn-label {
    background-color: #0f0f0f;
  }
  .panel-icon {
    padding: 0.3rem;
    border-radius: 50%;
  }
  .panel-svg-icon {
    width: 1.5rem;
  }
  .panel-icon:hover {
    background-color: #0f0f0f;
  }
  .mobile-result-container {
    display: flex;
    width: 80vw;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .result-container h3 {
    font-size: 1.5rem;
  }
  .result-img {
    width: 4.5rem;
  }
  .player-result {
    grid-template-columns: 100px auto;
    grid-template-rows: 100px auto;
  }
  .player-result span {
    font-size: 1.2rem;
  }
  .result-content h4 {
    font-size: 1rem;
  }
  .result-content div h5 {
    font-size: 0.9rem;
  }

  .image-player-container {
    top: 29%;
    left: 40%;
  }
  .winner-player-img {
    width: 2.5rem;
  }
  .winner-cup-img {
    width: 15rem;
  }

  .player-winner-buttons {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .btn-winner {
    padding: 15px 30px;
    clip-path: polygon(86% 0, 100% 34%, 100% 100%, 16% 100%, 0% 69%, 0 0);
    letter-spacing: 3px;
  }
}
