.closeResultOverlay {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.closeResultOverlay svg {
  width: 3rem;
  fill: #59c1fe;
}
.closeResultOverlay svg path {
  stroke: #59c1fe;
}
.closeResultOverlay:hover svg {
  fill: #7f1d1d;
}
.closeResultOverlay:hover svg path {
  stroke: #7f1d1d;
}
.result-container {
  background-color: #334155;
  border: 10px ridge #713f12;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  color: #59c1fe;
  padding: 20px;
}
.result-container h3 {
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin-bottom: 5px;
  text-align: center;
}
.mobile-result-container {
  display: flex;
  width: 55vw;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: relative;
}
.image-container {
  width: fit-content;
  background: #009688;
  border: 3px solid #59c1fe;
  border-radius: 50%;
  justify-self: center;
}
.result-img {
  display: block;
  width: 8rem;
  border-radius: 50%;
}
.player-result {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 180px auto;
  grid-template-rows: 180px auto;
  align-items: center;
}
.player-result span {
  justify-self: center;
  font-size: 1.3rem;
}
.result-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.result-content h4 {
  font-size: 2rem;
  letter-spacing: 2px;
}
.result-content div h5 {
  font-size: 1.2rem;
  letter-spacing: 2px;
  margin: 5px 0;
}
.result-divide-line {
  border: 0;
  height: 3px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    #59c1fe,
    rgba(0, 0, 0, 0)
  );
}
.winner-images {
  position: relative;
}
.image-player-container {
  position: absolute;
  top: 30%;
  left: 41%;
  background: #f9b54c;
  border: 3px solid #cb8343;
}
.winner-player-img {
  width: 4rem;
}
.winner-cup-img {
  display: block;
  width: 25rem;
}
.player-winner-buttons {
  position: absolute;
  right: 0;
  bottom: 0;
}

.btn-winner {
  padding: 15px 30px;
  clip-path: polygon(86% 0, 100% 34%, 100% 100%, 16% 100%, 0% 69%, 0 0);
  letter-spacing: 3px;
}
